/* HomePage.module.css */
.container {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #6a0dad;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.error {
  color: #ff6347;
  font-size: 1.2rem;
}

.loader {
  margin-top: 50px;
}
