/* NotFoundPage.module.css */
.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.title {
  color: #6a0dad;
  font-size: 3rem;
  margin-bottom: 10px;
}

.descr {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

a {
  color: #6a0dad;
  text-decoration: none;
  font-size: 1.2rem;
}
